APPLICATION__DB__URL="postgresql+asyncpg://u:pwd@host:1234/name"
APPLICATION__DB__ECHO=0
APPLICATION__HOST__UVC_RELOAD=0
APPLICATION__HOST__UVC_WORKERS=1
APPLICATION__REDIS__URL="redis://localhost:6379/0"