APPLICATION__DB__URL="postgresql+asyncpg://u:pwd@host:1234/name"
APPLICATION__DB__ECHO=0
APPLICATION__HOST__UVC_RELOAD=1
APPLICATION__HOST__UVC_WORKERS=1
APPLICATION__REDIS__CACHE__URL="redis://redis:6379/0"
APPLICATION__REDIS__CACHE__TTL=60
APPLICATION__REDIS__TASKIQ__URL="redis://redis:6379/1"
APPLICATION__REDIS__TASKIQ__TTL=60
APPLICATION__AUTH__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=SECRET
APPLICATION__AUTH__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=SECRET
APPLICATION__AUTH__REFRESH_TOKEN__HMAC_SECRET=SECRET